.bg-header {
    background: url("../img/magi.jpg");
    padding: 13%;
    background-size: cover;
}
.white {
    color: #FA8E2A;
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 50px;
    padding-left: 1vw;
    font-weight: bold;
    margin-bottom: 5%;
}

section p{
  color: #FA8E2A;
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 10px;
  padding-left: 1vw;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 6%;

}
