.bg-header {
    background: url("../img/magi2.jpg");
    padding: 20%;
    background-size: cover;
}
.white {
    color: white;
    text-align: center;
    font-size: 10em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 10px;
    padding-left: 1%;
    font-weight: bold;
    margin-bottom: 5%;
}
section p {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 10px;
    padding-left: 1vw;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 6%;
}
.bck {
    background: url(../img/eas.jpg);
    margin-bottom: 5%;
    border-radius: 2%;
    background-size: auto;
}
.hov {
    opacity: 0.7;
}
.hov:hover {
    opacity: 1;
    transition: 0.5s;
}
.mp {
    border-radius: 2%;
    background-size: cover;
    border-radius: 30%;
}


@media screen and (max-width: 1030px) {

  .white {
    font-size: 30px;

  }
}
